*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fond {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.popupContenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;
    height: 400px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.4);
}

.popup-hero {
    font-family: 'anton', sans-serif;
    
   
    
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding-bottom: 20px;
}
.form-group {
    padding: 10px;
  
  
}

.btn-submit {
    margin-top: 10px;
    width: 50%;
    padding: 5px;
}

.exit-div {
    background-color: black;
   
    position: relative;
    top: -35px;
    right: -155px;
}

.popup-exit {
    
    
    color: white;
    text-decoration: none;
  
   padding: 5px;
   cursor: pointer;
    
   
    
}