
* {
 margin: 0;
}
body {
    background-color: #FFF8F0;
     font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}


.navbar { 
    top: 0;
    left: 0;   
    background-color: #FFF8F0;
    position: fixed;
    width: 100%;
    z-index: 100;
   box-shadow: 0 2px 4px rgba(99, 236, 14, 0.852);
   display: flex;
   flex-direction: row;

   /* justify-content: space-between; : C'est la propriété essentielle pour placer le premier élément (votre logo) à l'extrême gauche et le dernier élément (votre liste de liens ul) à l'extrême droite.*/
   justify-content: space-between;
   align-items: center;  
}



.navbar ul {
  width: 70vw;
  margin: 0;
  padding: 0;
   display: flex;
   flex-direction: row;
   justify-content: end;
  
  
    
}

.navbar li {
    list-style: none;
    margin-right: 20px;
    

}

.navbar li a {
    color: #B8860B;
    text-decoration: none;
}

.logo-img {
  width: 10vw;
  height: 3.5vw;
  margin-left: 20px;
}
.logo-div {
 padding-left: 2vw;
 

}
.hamburger {
   background-color: #FFF8F0;
   height: 100%;
   border: solid;
   margin-left: 10px;
   gap: 5px;
   padding-top: 12px;
}

.second-navbar {
  display: none;
}



.hero-div {
 
  display: flex;
  flex-direction: column;
  
}

.hero-img {
     width: 100%;
    
}


h1 {
  position: absolute;
  font-family: "Electrolize", sans-serif;
  font-style: italic;
  font-size: 3vw;
  font-weight: bolder;   
  padding-top: 100px;
  padding-left: 1vw;
  width: 90%;
  text-align: left;
  color: #21486c;   
}

.credo {
  padding-top: 160px;
  position: absolute;
  font-family: 'Garet';
  font-style: italic;
  font-size: 2vw;
  color: white;
  width: 90%;
  text-align: left;  
  padding-left: 1vw;
}

.gammes {
 margin-top: 30px;
 margin-bottom: 30px;
  padding: 20px;
  
  text-align: justify;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.jour , .nuit {
  color: #B8860B;
  font-weight: bolder;
 
}

.jambaar, .ndaanaan {
  font-weight: bolder;
  color: #21486c;
}

.product-sec{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    
    
}
.product-sec div {
   
   box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
   height: 400px;
   width: 200px;
   border-radius: 8px;
   padding: 20px;
   background-color: #ffffff;
}

.product-name {
  color: #1A1A1A;
}


.product-price {
  color: #B8860B;
}


.add-to-cart {
  background-color: #C8A845;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
}


.footer-div {
  padding-top: 20px;
  width: 100%;
    opacity: 0.7;
   
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.3);
   
   gap: 50px;
   
    
}


.media li {
    
 list-style: none;
    
}
.media a {
    
  text-decoration: none;
    
}


.nous li{  
  list-style: none;
}

.nous a{  
  text-decoration: none;  
}

.contact li {
    
 list-style: none;
    
}
.contact li a {
    
 text-decoration: none;  
    
}

.copyright {
  padding: 30px;
}

 @media (max-width: 768px) {
  

    .hero-div {
 
  display: flex;
  flex-direction: column;
  
 
  
}

.hero-img {
     width: 100%;
}

     h1 {     
        margin-top: -19px;
        position: absolute;
        font-family: "Electrolize", sans-serif;
        font-style: italic;
        font-size: 3vw;
        font-weight: bolder;   
        width: 90%;
        text-align:left;
        color: #21486c;   
        padding-left: 2vw;
}

    h2 {
        padding-top: 100px;
        position: absolute;
        font-family: 'Garet';
        font-style: italic;
        font-size: 2vw;
        color: white;
        width: 90%;
        text-align:left; 
        padding-left: 2vw; 
    }
   
 
  .product-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  /* 1. Afficher le bouton et cacher le menu classique */
    .second-navbar { /* Garder le hamburger visible */
        display: block; 

    }

  

    .hamburger {
      border: none;
      top: 0;
      height: 40px;
      position: fixed;
      display: flex;
      flex-direction: column;
    }
   
    .trait {
      background-color: #1A1A1A;
      height: 3px;
      width: 30px;
    }

    .navbar {
     display: block;
    }
  
    .second-navbar {
     
    background-color: #FFF8F0;
    position: fixed;
    width: 100%;
    padding: 10px;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(99, 236, 14, 0.852);
    top: 0;
    left: 0;   
    height: 20px;
    
    } 

   .icons-div {
    margin-left: 60px;
   display: flex;
   flex-direction: row;
    width: 80%;
   justify-content: flex-end;
   
   }
.panier-img , .compte-img {
  width: 23px;
  height: 23px;
}
  
   
    .navbar ul {
      
        /* L'état CACHÉ par défaut */
        display: none; 
        /* Préparer pour un affichage vertical */
        flex-direction: column; 
        
        
    }
 
    /* 2. L'état DÉPLOYÉ (quand le JS ajoute la classe 'active') */
    .navbar ul.active {
        display: flex; /* ou block, selon votre mise en page */
        /* Positionner le menu pour qu'il couvre la page ou s'étende */
        position: absolute; 
        top: 40px; /* Exemple de hauteur sous la barre d'en-tête */
        width: 100%;
        background-color: #f8f8f8; /* Un fond pour le menu déployé */
       
     
    }

    .navbar ul.active li {
      padding-left: 10px;
    }

    .logo-div {
      display: none;
    }

    .footer-div {
    opacity: 0.7;
    padding: 40px;
    margin-top: 100px;
    display: flex;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   align-items: center;
    
}

.copyright {
  padding: 20px;
  text-align: center;
}

}

.about-sec {
  margin-top: 60px;
 box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.3);
}

.about-div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  
  /*box-shadow: [décalage horizontal] [décalage vertical] [rayon de flou] [rayon d'étalement] [couleur];*/
 
 
 
  gap: 20px;
  
}

.about-title {
  padding-top: 20px;
  text-align: center;
  color: #B8860B;
}


.admin {
  background-color: ;
  
  width: 100vw;
  padding: 20px;
  text-align: justify;
}

.admin h3 {
  color: #B8860B;
}

.admi-img {
  height: 15vw;
  width: 15vw;
  border: solid #B8860B;
  border-radius: 50%;
}

.about-text {
  width: 100vw;
 
  padding: 20px;
  text-align: justify;
}


.about-hero {
  color: #1A1A1A;
  position: relative;
}

.site-name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #C8A845;
}



.icons-div  {
  padding-right: 4vw;
  
  display: flex;

 
}

.panier-img , .compte-img{
  padding-right: 2vw;
  width: 2vw;
  height: 2vw;
}

.panier-div {
 
}

.quantity {
  height: 1vw;
  width: 1vw;
  background-color: red;
  color: white;
  font-size: 1vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  right: 7.5%;
 
}


/**  Panier code commence ici...........................................*/



.fond {
    position: fixed; 
    top: 20px;  
   background-color: rgba(0, 0, 0, 0.7);
   height:100%;
   width: 100%;
   display: none;
   justify-content: center;
   align-items: center;
}

.popupContenu {
  position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #FFF8F0;
    height: 400px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.4);
}

.popup-hero {
    font-family: 'anton', sans-serif;
    
   
    
}

.compte-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #B8860B;
}

.compte-link a {
  padding: 10px;
   color: #B8860B;
   text-decoration: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding-bottom: 20px;
}
.form-group {
    padding: 10px;
  
  
}

.btn-submit {
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    background-color: #B8860B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.exit-div {
    background-color: black;
   
    position: absolute;
   top: -5px;
   right: -5px;
}

#popup-exit, #inscrire-popup-exit {
    color: white;
    text-decoration: none;
  
   padding: 5px;
   cursor: pointer;
}



.inscrire-fond {
    position: fixed; 
    top: 20px;  
   background-color: rgba(0, 0, 0, 0.7);
   height:100%;
   width: 100%;
   display: none;
   justify-content: center;
   align-items: center;
}

.inscrire-popup{
  position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #FFF8F0;
    height: 400px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.4);
}

 

