@media (max-width: 768px) {
  .defile {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  

}

.hero-div {
  height: 500px;
  background-image: url(img/prfemme.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;  
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  width:100%;
  text-align: center;
    color: #E0C17E;
    font-size: 50px;
    font-weight: bolder;   
   
    
}

 h2 {
  
   background-color:#FAFAFA;
    color: black;
    width: 50%;
    text-align: center;
    border-radius: 5px;
   
}

@media (max-width: 768px) {
 h1 {
    width: 100%;
    color: #E0C17E;
    font-size: 20px;
    font-weight: bolder;   
   
}
}




@media (max-width: 768px) {
h2 {
   background-color:#FAFAFA;
    color: black;
    border-radius: 5px;
   font-size: 10px;
    width: 50%;
    text-align: center;
    padding:10px ;
}
}


 @media (max-width: 768px) {
    .hero-div {

        background-color: rgba(0, 0, 0, 0.584);
        background-image: url("img/prfemme.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* Réduit la hauteur pour gagner de la place sur mobile */
        height: 100px;
        background-attachment: scroll; 

    }
}
  






@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}



body {
    background-color: #FFF8F0;
     font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}
 

.navbar { 
    background-color: #FFF8F0;
    position: fixed;
    width: 100%;
    z-index: 100;
   box-shadow: 0 2px 4px rgba(99, 236, 14, 0.852);
   display: flex;
   flex-direction: row;

   /* justify-content: space-between; : C'est la propriété essentielle pour placer le premier élément (votre logo) à l'extrême gauche et le dernier élément (votre liste de liens ul) à l'extrême droite.*/
   justify-content: space-between;
   align-items: center;
  
  
   
    top: 0;
    left: 0;   
}

.navbar ul {
    margin: 0;
    padding: 0;
   display: flex;
   flex-direction: row;
  
  
    
}

.navbar li {
    list-style: none;
    margin-right: 20px;
    

}

.navbar li a {
    color: #B8860B;
    text-decoration: none;
}

.logo-img {
  width: 100%;
  height: 100%;
  margin-left: 20px;
}
.logo-div {
  width: 15%;
  height: 100%;
 

}
.hamburger {
   background-color: #FFF8F0;
   height: 100%;
   border: solid;
   margin-left: 10px;
  
   gap: 5px;
   padding-top: 12px;
}







@media (max-width: 768px) {
/* 1. Afficher le bouton et cacher le menu classique */
    .second-navbar { /* Garder le hamburger visible */
        display: block; 

    }

    .hamburger {
      border: none;
      top: 0;
      height: 40px;
      position: fixed;
      display: flex;
      flex-direction: column;
    }
    span {
      background-color: #1A1A1A;
      height: 3px;
      width: 30px;
    }

    .navbar {
     display: block;
    }

    .second-navbar {
    background-color: #FFF8F0;
    position: fixed;
    width: 100%;
    padding: 10px;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(99, 236, 14, 0.852);
    top: 0;
    left: 0;   
    height: 20px;
    } 
    .navbar ul {
      
        /* L'état CACHÉ par défaut */
        display: none; 
        /* Préparer pour un affichage vertical */
        flex-direction: column; 
    }

    /* 2. L'état DÉPLOYÉ (quand le JS ajoute la classe 'active') */
    .navbar ul.active {
        display: flex; /* ou block, selon votre mise en page */
        /* Positionner le menu pour qu'il couvre la page ou s'étende */
        position: absolute; 
        top: 40px; /* Exemple de hauteur sous la barre d'en-tête */
        width: 100%;
        background-color: #f8f8f8; /* Un fond pour le menu déployé */
    }

    .logo-div {
      display: none;
    }
}
  




 

.defile {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
.defile div {
   
   box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
   height: 400px;
   width: 200px;
   border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
}

.product-name {
  color: #1A1A1A;
}
.product-image {
  
}

.product-price {
  color: #B8860B;
}


.add-to-cart {
  background-color: #C8A845;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
}

.footer {
    background-color: rgb(229, 221, 221);
    opacity: 0.7;
   padding: 40px;
   margin-top: 100px;
   display: flex;
   

}

.footer div {
    
    padding: 20px;
    margin: auto;
    height: 200px;
    width: 300px;
    
}

.media li {
    
 list-style: none;
    
}
.media a {
    
  text-decoration: none;
    
}


.nous li{  
  list-style: none;
}

.nous a{  
  text-decoration: none;  
}

.contact li {
    
 list-style: none;
    
}
.contact li a {
    
 text-decoration: none;  
    
}

