@media (max-width: 768px) {
  .defile {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  

}


 .hero {
   background-color: rgba(0, 0, 0, 0.584);
   background-image: url("img/prfemme.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-blend-mode: multiply;
   padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



 @media (max-width: 768px) {
    .hero {

        background-color: rgba(0, 0, 0, 0.584);
        background-image: url("img/prfemme.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* Réduit la hauteur pour gagner de la place sur mobile */
        height: 100px;
        
        
        /* Réduit le padding */
        padding: 60px;

        /* Souvent nécessaire : désactiver le "fixed" sur mobile pour éviter des bugs d'affichage */
        background-attachment: scroll; 

        /* Vous pouvez aussi changer la taille du fond sur mobile si nécessaire */
        /* background-size: contain; */
    }
}
  






@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}



body {
    background-color: #F4F4F4;
     font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}
 
.navbar { 
    background-color: #1A1A1A;
    padding: 10px;
   
    
    top: 0;
    left: 0;
    
   
}
.navbar ul {
    margin: 0;
    padding: 0;
   
    display: flex;
    justify-content: flex-end;
    
    
}

.navbar li {
    list-style: none;
    margin-right: 15px;

}

.navbar li a {
    color: #E0C17E;
    text-decoration: none;
}



div h1 {
    color: #E0C17E;
    font-size: 50px;
    font-weight: bolder;   
}

@media (max-width: 768px) {
 div h1 {
    color: #E0C17E;
    font-size: 20px;
    font-weight: bolder;   
}
}


 h2 {
   background-color:#FAFAFA;
    color: black;
    border-radius: 5px;
   
   padding: 15px;
    width: 40%;
    text-align: center;
}

@media (max-width: 768px) {
h2 {
   background-color:#FAFAFA;
    color: black;
    border-radius: 5px;
   font-size: 10px;
   padding: 15px;
    width: 50%;
    text-align: center;
}
}

.defile {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.defile div {
   padding: 30px;
   background-color: #E0C17E;
   height: 300px;
   width: 200px;
}

.footer {
    background-color: rgb(229, 221, 221);
    opacity: 0.7;
   padding: 40px;
   
   display: flex;
   

}

.footer div {
    background-color: #E0C17E;
    padding: 20px;
    margin: auto;
    height: 200px;
    width: 300px;
    
}

.media a {
    
  text-decoration: none;
    
}


.nous li{  
  list-style: none;
}

.nous a{  
  text-decoration: none;  
}

.contact li {
    
 list-style: none;
    
}
.contact li a {
    
 text-decoration: none;  
    
}